@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
@import url(http://fonts.googleapis.com/css?family=Slabo+27px|Roboto+Condensed);
body {
    background-color: rgb(30, 50, 50);
}

.heading-text {
    font-family: 'Slabo 27px', serif;
    margin-top: 50px;
    color: white;
    text-align: center;
    font-size: 50px;
}

#reset-timer-btn {
    font-size: 21px;
    color: black;
    background-color: olive;
    border-radius: 75px;
    height: 150px;
    width: 150px;
    border: 6px aliceblue solid;
}

#button-text {
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}

#button {
    margin-top: 30px;
    text-align: center;
}

#info {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 30px;
    color: aliceblue;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}